body {
    background: rgb(212, 47, 47);
    color: rgb(214, 46, 74);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(179, 64, 194);
   margin: 0 auto;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(197, 7, 255);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 20px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 8px rgb(245, 56, 9) ridge;
    padding: 6px;
}
h2, h3 {
    margin: 0px;
}

/* portfolio styles */
.content h1 {
    color: rgb(233, 24, 24);
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #a701e9;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #bd0c1b;
}

#portfolio a {
    text-decoration: none;
    color: #df1515;
}
/*Extra Challenge
Here's some other things to try:

Google 'border radius' and add it to the nav selector to give the <nav> element rounded corners
Add a border around the image
Change the color of the background
Add a favicon to your index.html and portfolio.html files
Make website mobile responsive.

Note: If you have preexisting style tags in your index.html file, you put the link to your style.css file with your responsive style rules at the bottom of the <head> tag.

Here's some CSS to get you started on making your website mobile responsive*/

   /* responsive web design */
   @media screen and (min-width: 120px) and (max-width: 1080px) {
     main {
       height: 100ch;
       zoom: 1.5;
       display: grid;
     }

     h1 {
       font-size: 44px;
     }

     h2 {
       font-size: 42px;
     }

     h3 {
       font-size: 36px;
     }

     #all-contents {
       height: 100ch;
       margin: none;
     }

     a {
       font-size: 42px;
     }

     .sidebar {
       margin-right: 0px;
       justify-content: center;
       align-items: center;
     }

     .sidebar-img {
       width: 100%;
     }

     p,
     li {
       font-size: 24px;
       color: rgb(82, 66, 226);
     }

     .content {
       align-content: center;
       justify-content: center;
     }
 }
